<!-- https://themes.gohugo.io/themes/hugo-book/ -->

<div style="
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    width: 88%;
">
    <!-- Thanks to: https://css-tricks.com/examples/hrs/ but not for now -->
<!--    <hr style="-->
<!--        margin-top: 3em;-->
<!--        border: 0;-->
<!--        height: 0;-->
<!--        border-top: 1px solid rgba(0, 0, 0, 0.075);-->
<!--        border-bottom: 1px solid rgba(255, 255, 255, 0.3);-->
<!--    ">-->
    <div>
        <a href="https://gitlab.com/mavka"><img src="https://img.shields.io/badge/-white?logo=gitlab&style=flat-square" alt="GitLab" title="GitLab"></a>
        <a href="https://github.com/istalabs"><img src="https://img.shields.io/badge/-white?logo=github&logoColor=gray&style=flat-square" alt="GitHub" title="GitHub"></a>
        <a href="https://www.linkedin.com/in/mykhailo-ziatin/"><img src="https://img.shields.io/badge/-white?logo=linkedin&logoColor=gray&style=flat-square" alt="LinkedIn" title="LinkedIn"></a>
    </div>
</div>
